 
  <!-- Gauge Component -->
   <div>
    <div class="text-white text-center pb-2">Emergency Fund</div>
    <div class="relative size-52 sm:size-60">
        <svg class="rotate-[135deg] size-full" viewBox="0 0 36 36" xmlns="http://www.w3.org/2000/svg">
          <!-- Background Circle (Gauge) -->
          <circle cx="18" cy="18" r="16" fill="none" class="stroke-current text-green-200 dark:text-neutral-700" stroke-width="1" stroke-dasharray="75 100" stroke-linecap="round"></circle>
      
          <!-- Gauge Progress -->
          <circle cx="18" cy="18" r="16" fill="none" class="stroke-current text-green-500 dark:text-red-500" stroke-width="2" stroke-dasharray="25 100" stroke-linecap="round"></circle>
        </svg>
      
        <!-- Value Text -->
        <div class="absolute top-1/2 start-1/2 transform -translate-x-1/2 -translate-y-1/2 text-center">
          <span class="text-4xl font-bold text-green-600 dark:text-red-500">25</span>
          <span class="text-green-600 dark:text-red-500 block">Poor</span>
        </div>
      </div>
   </div>
  
  <!-- End Gauge Component -->

    <!-- Gauge Component -->
    <div>
        <div class="text-white text-center pb-2">Pension</div>
        <div class="relative size-52 sm:size-60">
            <svg class="rotate-[135deg] size-full" viewBox="0 0 36 36" xmlns="http://www.w3.org/2000/svg">
              <!-- Background Circle (Gauge) -->
              <circle cx="18" cy="18" r="16" fill="none" class="stroke-current text-green-200 dark:text-neutral-700" stroke-width="1" stroke-dasharray="75 100" stroke-linecap="round"></circle>
          
              <!-- Gauge Progress -->
              <circle cx="18" cy="18" r="16" fill="none" class="stroke-current text-green-500 dark:text-yellow-500" stroke-width="2" stroke-dasharray="37 100" stroke-linecap="round"></circle>
            </svg>
          
            <!-- Value Text -->
            <div class="absolute top-1/2 start-1/2 transform -translate-x-1/2 -translate-y-1/2 text-center">
              <span class="text-4xl font-bold text-green-600 dark:text-yellow-500">50</span>
              <span class="text-green-600 dark:text-yellow-500 block">Average</span>
            </div>
          </div>
       </div>
      
      <!-- End Gauge Component -->

        <!-- Gauge Component -->
   <div>
    <div class="text-white text-center pb-2">Savings</div>
    <div class="relative size-52 sm:size-60">
        <svg class="rotate-[135deg] size-full" viewBox="0 0 36 36" xmlns="http://www.w3.org/2000/svg">
          <!-- Background Circle (Gauge) -->
          <circle cx="18" cy="18" r="16" fill="none" class="stroke-current text-green-200 dark:text-neutral-700" stroke-width="1" stroke-dasharray="75 100" stroke-linecap="round"></circle>
      
          <!-- Gauge Progress -->
          <circle cx="18" cy="18" r="16" fill="none" class="stroke-current text-green-500 dark:text-hreen-500" stroke-width="2" stroke-dasharray="60 100" stroke-linecap="round"></circle>
        </svg>
      
        <!-- Value Text -->
        <div class="absolute top-1/2 start-1/2 transform -translate-x-1/2 -translate-y-1/2 text-center">
          <span class="text-4xl font-bold text-green-600 dark:text-green-500">75</span>
          <span class="text-green-600 dark:text-hreen-500 block">Good</span>
        </div>
      </div>
   </div>
  
  <!-- End Gauge Component -->

    <!-- Gauge Component -->
    <div>
        <div class="text-white text-center pb-2">Crypto</div>
        <div class="relative size-52 sm:size-60">
            <svg class="rotate-[135deg] size-full" viewBox="0 0 36 36" xmlns="http://www.w3.org/2000/svg">
              <!-- Background Circle (Gauge) -->
              <circle cx="18" cy="18" r="16" fill="none" class="stroke-current text-green-200 dark:text-neutral-700" stroke-width="1" stroke-dasharray="75 100" stroke-linecap="round"></circle>
          
              <!-- Gauge Progress -->
              <circle cx="18" cy="18" r="16" fill="none" class="stroke-current text-green-500 dark:text-green-700" stroke-width="2" stroke-dasharray="75 100" stroke-linecap="round"></circle>
            </svg>
          
            <!-- Value Text -->
            <div class="absolute top-1/2 start-1/2 transform -translate-x-1/2 -translate-y-1/2 text-center">
              <span class="text-4xl font-bold text-green-600 dark:text-green-700">100</span>
              <span class="text-green-600 dark:text-green-700 block">Excellent</span>
            </div>
          </div>
       </div>
      
      <!-- End Gauge Component -->

   