$small: 768px;
.main {
  background: rgb(209, 214, 255);
  background: linear-gradient(
    180deg,
    rgba(209, 214, 255, 1) 0%,
    rgba(255, 255, 255, 1) 34%,
    rgba(255, 255, 255, 1) 100%
  );
}

.home {
  @media screen and (max-width: $small) {
    margin-left: 20px;
    margin-right: 20px;
  }
  margin-top: 50px;
}

.header {
  text-align: center;
  margin-bottom: 70px;
  .title {
    color: #868686;
    font-weight: 200;
    font-size: 100px;
    margin-bottom: 20px;
    &__name {
      color: #918ff0;
    }
    @media screen and (max-width: $small) {
      font-size: 70px;
    }
  }

  .subtitle {
    color: #3a3939;
    font-weight: 200;
    font-size: 30px;
  }

  .border {
    border-bottom: 2px solid rgb(194, 194, 194);
    margin-top: 50px;
    margin-left: 20%;
    margin-right: 20%;
  }
}

.subheader {
  text-align: center;
  color: #000000;
  font-weight: 200;
  font-size: 20px;
  margin-bottom: 60px;

  &__tagline {
    margin-left: 20%;
    margin-right: 20%;
  }

  &__container {
    margin-top: 50px;
  }

  &__get-started {
    border: 1px solid #326e9a;
    background-color: #326e9a;
    color: white;
    margin-top: 20px;
    font-weight: 500;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 0px 8px 8px rgb(194, 194, 194);
    text-decoration: none;
  }
}

.content {
  text-align: center;
  color: #000000;

  &__title {
    font-weight: 800;
    font-size: 30px;
  }

  &__border {
    border: 3px solid #97c1ff;
    margin-left: 45%;
    margin-right: 45%;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  &__subtitle {
    font-weight: 300;
    margin-left: 30%;
    margin-right: 30%;

    @media screen and (max-width: $small) {
      width: calc(100% - 100px);
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.tiles {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 20rem;
  margin-right: 20rem;

  &__item {
    width: calc(100% / 3 - 100px);
    // height: 180px;
    margin: 20px;
    text-align: left;
    padding: 20px;
    color: white;
    border-radius: 10px;

    @media screen and (max-width: $small) {
      width: 100%;
    }

    &--2 {
      background-color: #2c80ff;
    }
    &--3 {
      background-color: #71a6f4;
    }
    &--4 {
      background-color: #5c6bf5;
    }
    &--5 {
      background-color: #61b6bb;
    }
    &--6 {
      background-color: #3a4393;
    }

    &--primary {
      color: black;
    }
  }

  &__metric {
    font-size: 100px;
  }

  &__content {
    font-size: 20px;
  }

  &__firsttitle {
    font-size: 35px;
    font-weight: 200;
    margin-bottom: 10px;
  }
}

.join {
  display: flex;
  padding-left: 100px;
  padding-right: 100px;
  text-align: left;
  margin-top: 100px;
  background-color: #f9f8ff;
  padding-top: 100px;
  padding-bottom: 100px;
  &__content {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 30px;
    &__title {
      font-size: 50px;
      font-weight: 500;
    }
    &__subheading {
      font-size: 20px;
      color: #868686;
      margin-top: 20px;
    }

    &__buttonContainer {
      margin-top: auto;
    }

    &__button {
      margin-top: 20px;
      background-color: #2c80ff;
      color: white;
      font-weight: bold;
      font-size: 15px;
      padding: 10px;
      border-radius: 10px;
      width: max-content;
    }
  }
  &__imageContainer {
    width: 50%;
    padding: 30px;
    &__image {
      border-radius: 30px;
    }
  }
}

.learnImplement{
  display: flex;
  margin-top: 50px;
  .information{
    width: 50%;
    display: flex;
    flex-direction: column;
    font-size: 50px;
    font-weight: bold;
    text-align: left;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 60px;

    &__title{
      margin-bottom: 30px;
    }
    &__section{
      margin-bottom: 60px;
      &__icon{
        width: 80px;
      }

      &__title{
        font-size: 20px;
        font-weight:500;
      }

      &__description{
        font-size: 15px;
        font-weight:500;
      }

      &__link{
        font-size: 15px;
        font-weight:500;
        text-align: right;
        color: #326e9a;
      }
    }
  }

  .implement{
    width: 50%;
  }
}
