<div class="main">
  <!-- <app-early-access></app-early-access> -->
  <app-navbar></app-navbar>
  <div class="home">
    <div class="header">
      <div class="title">
        <span class="title__name">Islamic Finance</span> Manager
      </div>
      <div class="subtitle">
        Take control of your life in accordance with the shariah
      </div>
      <div class="border"></div>
    </div>
  
    <div class="subheader">
      <div class="subheader__tagline">
        Understanding personal finance is crucial for making informed decisions
        that ensure financial stability and security throughout one's life. Also
        we are hitting a new ec2 instance
      </div>
      <div class="subheader__container">
        <a href="#" class="subheader__get-started">GET STARTED</a>
      </div>
    </div>
  
    <div class="content">
      <div class="content__title">WE CAN CHANGE OUR FUTURES</div>
      <div class="content__border"></div>
      <div class="content__subtitle">
        The way to buy digital media is in a big change and new skills, new tools
        and new ways of working are needed to keep up with. We at Webflow Agency
        can help you maximise the impact of your marketing
      </div>
  
      <div class="tiles">
        <div class="tiles__item tiles__item--primary">
          <div class="tiles__firsttitle">Unlock your future</div>
          <div class="tiles__firstcontent">
            Our performance metrics speak for themseleves
          </div>
        </div>
        <div class="tiles__item tiles__item--2">
          <div class="tiles__metric">92%</div>
          <div class="tiles__content">RICHNESS INSHALLAH</div>
        </div>
        <div class="tiles__item tiles__item--3">
          <div class="tiles__metric">92%</div>
          <div class="tiles__content">RICHNESS INSHALLAH</div>
        </div>
        <div class="tiles__item tiles__item--4">
          <div class="tiles__metric">92%</div>
          <div class="tiles__content">RICHNESS INSHALLAH</div>
        </div>
        <div class="tiles__item tiles__item--5">
          <div class="tiles__metric">92%</div>
          <div class="tiles__content">RICHNESS INSHALLAH</div>
        </div>
        <div class="tiles__item tiles__item--6">
          <div class="tiles__metric">92%</div>
          <div class="tiles__content">RICHNESS INSHALLAH</div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
