<div class="main">
  <!-- <app-early-access></app-early-access> -->
  <app-navbar></app-navbar>
  <div class="home">
    <div class="header">
      <div class="title">
        <span class="title__name">Islamic Finance</span> Manager
      </div>
      <div class="subtitle">
        Take control of your life in accordance with the shariah
      </div>
      <div class="border"></div>
    </div>
    <div class="subheader">
      <div class="subheader__tagline">
        Understanding personal finance is crucial for making informed decisions
        that ensure financial stability and security throughout one's life.
        Testing if ec2 is up
      </div>
      <div class="subheader__container">
        <a href="#" class="subheader__get-started">GET STARTED</a>
      </div>
    </div>

    <div class="content">
      <div class="content__title">WE CAN CHANGE OUR FUTURES</div>
      <div class="content__border"></div>
      <div class="content__subtitle">
        The way to buy digital media is in a big change and new skills, new
        tools and new ways of working are needed to keep up with. We at Webflow
        Agency can help you maximise the impact of your marketing
      </div>

      <div class="tiles">
        <div class="tiles__item tiles__item--primary">
          <div class="tiles__firsttitle">Unlock your future</div>
          <div class="tiles__firstcontent">
            Our performance metrics speak for themseleves
          </div>
        </div>
        <div class="tiles__item tiles__item--2">
          <div class="tiles__metric">92%</div>
          <div class="tiles__content">RICHNESS INSHALLAH</div>
        </div>
        <div class="tiles__item tiles__item--3">
          <div class="tiles__metric">92%</div>
          <div class="tiles__content">RICHNESS INSHALLAH</div>
        </div>
        <div class="tiles__item tiles__item--4">
          <div class="tiles__metric">92%</div>
          <div class="tiles__content">RICHNESS INSHALLAH</div>
        </div>
        <div class="tiles__item tiles__item--5">
          <div class="tiles__metric">92%</div>
          <div class="tiles__content">RICHNESS INSHALLAH</div>
        </div>
        <div class="tiles__item tiles__item--6">
          <div class="tiles__metric">92%</div>
          <div class="tiles__content">RICHNESS INSHALLAH</div>
        </div>
      </div>
      <div class="join">
        <div class="join__content">
          <div class="join__content__title">
            Join the Islamic Finance Community Today
          </div>
          <div class="join__content__subheading">
            Master personal finance, achieve financial freedom, and secure your
            future. Learn budgeting, investing, and debt management through
            expert guidance tailored to your needs. Join now to start thriving
          </div>
          <div class="join__content__buttonContainer">
            <button class="join__content__button">Join Community</button>
          </div>
        </div>
        <div class="join__imageContainer">
          <img class="join__imageContainer__image" src="dashboard.png" />
        </div>
      </div>
      <div class="learnImplement">
        <div class="information">
          <div class="information__title">Learn.</div>
          <div class="information__section">
            <div class="information__section__icon">
              <img src="book.svg" />
            </div>
            <div class="information__section__title">Read our articles</div>
            <div class="information__section__description">
              Unlock expert tips, simplify your finances, and make informed
              decisions. Read our articles to take control of your financial
              future.
            </div>
            <div class="information__section__link">Read our intro</div>
          </div>
          <div class="information__section">
            <div class="information__section__icon">
              <img src="book.svg" />
            </div>
            <div class="information__section__title">Read our articles</div>
            <div class="information__section__description">
              Unlock expert tips, simplify your finances, and make informed
              decisions. Read our articles to take control of your financial
              future.
            </div>
            <div class="information__section__link">Read our intro</div>
          </div>
        </div>
        <div class="information">
          <div class="information__title">Implement.</div>
          <div class="information__section">
            <div class="information__section__icon">
              <img src="book.svg" />
            </div>
            <div class="information__section__title">Read our articles</div>
            <div class="information__section__description">
              Unlock expert tips, simplify your finances, and make informed
              decisions. Read our articles to take control of your financial
              future.
            </div>
            <div class="information__section__link">Read our intro</div>
          </div>
          <div class="information__section">
            <div class="information__section__icon">
              <img src="book.svg" />
            </div>
            <div class="information__section__title">Read our articles</div>
            <div class="information__section__description">
              Unlock expert tips, simplify your finances, and make informed
              decisions. Read our articles to take control of your financial
              future.
            </div>
            <div class="information__section__link">Read our intro</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
