$small: 768px;

.main {
  background: rgb(209, 214, 255);
  background: linear-gradient(
    180deg,
    rgba(209, 214, 255, 1) 0%,
    rgba(255, 255, 255, 1) 74%,
    rgba(255, 255, 255, 1) 100%
  );

  
}
