$small: 768px;

.nav{
    display: flex;
    justify-content: space-between;
    //background-color: white;
    padding-top:20px;
    padding-bottom:20px;
    padding-left:80px;
    padding-right:80px;
    @media screen and (max-width: $small) {
        display: none;
      }
    .items{
        display: flex;
        align-items: center;
        .logo{
            height: 30px;
        }
        .menu{
            display: flex;
            align-items: center;
            margin-left:50px;
            .menu-item{
                margin-left:20px;
                margin-right:20px;
                font-family: 'inter';
                font-size: 16px;
                color: #7c7a7a;
                text-decoration: none;
            }
        }
    }

    .auth{
        padding:30px;
        display: flex;
        align-items: center;
        a{
            margin-left:20px;
            margin-right:20px;
            font-family: 'inter';
            color: #7c7a7a;
            box-shadow: 0px 8px 8px rgb(194, 194, 194);
            text-decoration: none;
        }
        
        .login{
            border:1px solid #326E9A;
            padding-left: 25px;
            padding-right: 25px;
            padding-top: 8px;
            padding-bottom: 8px;
          }

          .signup{
            border:1px solid #326E9A;
            background-color: #326E9A;
            color: white;
            padding-left: 25px;
            padding-right: 25px;
            padding-top: 8px;
            padding-bottom: 8px;
          }
    }
}